
/* For the section */
section {

	height: 900px;
}

/* css for the grid where vacancy ad, form and vacancy is kept*/
.grid {


	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 3%;
	
	height: 700px;
	border : 2px;
	padding-right: 2px;
	padding-top: 10px;
	padding-left: 2px;
	height: 600px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 50px;

}

/*For the first vacancy ad */
.vacancy1{

	width: 300px;

}

/*vacancy ad picture 1 */
.picture{

margin-left: 30px;
}

/*vacancy ad picture 2 */
.picture2{

	margin-left: 70px;
}


/*For its content */

.content{

	font-weight: 100;
	font-size: 22px;
}


/* for the JOBS */
.title3{
 
  font-size : 60px;
  margin-top: 15px;
  margin-bottom: 0px;

  height: 40px;
     
  text-align: center;
  padding: 5px;

}

/*For the footer */
.footer{

	margin-top: 40px;
	height: 50px;

}

input {

	margin-left: 10%;
}

/*To make the website responsive */

@media screen and (max-width:600px){

/*for the responsive section */

section{
width: auto;
display: flex;
flex-direction: column;
height: 2050px;
}

/*first grid  */

.grid{

	width: 350px;
	display: flex;
	flex-direction: column;

}

/*For the navigation*/

nav ul{

	padding-left: 0px;
}

/*vacancy ad picture 1 */

.picture {

	margin-left: 80px;
}

}