.grid {


	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 3%;
	padding: 70%;
	
	border : 2px;
	padding-right: 2px;
	padding-top: 10px;
	padding-left: 2px;
	height: 600px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 150px;

}


input {

	margin-left: 10%;
}