/*For the section */
section{

	height: 1150px;
	margin-top: 50px;
}


/* css for the grid where picture and propose of the site is kept*/
.grid {


	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 15%;
	padding: 70%;
	
	border : 2px;
	padding-right: 2px;
	padding-top: 10px;
	padding-left: 2px;
	height: 600px;
	margin-right: 5px;
	margin-left: 15px;
	margin-top: 15px;
	padding-bottom: 0px;
	width: 800px;

}

/* Inside the grid the class "fordiv" is made*/
/*Css for the class "fordiv"*/
.fordiv{

	width: 850px;
	margin-left: 5%;
	margin-top: 20px;
	font-size: 25px;
}

/* For the web development picture */

.landing{

	width: 850px;
	margin-top: 10px;
	border: 2px solid black;
	border-radius: 20px;
 	box-shadow: 10px 10px 5px grey;

}

/*For the content */

.photos {

	height : 60px;
	width: 350px;
	margin-top: 20px;
	
}


/*Purpose of the website */

.text {
	height: 10px;
	width: 250px;
	background-color: white;
	text-align: center;
	height: 500px;
	width: 275px;
	font-weight: 100;
}

/*The second grid 1*/
.developers {
	display : grid;
	grid-column-gap: 30px;
	grid-template-columns: auto auto auto;
	
	
	}

	/*Inside the developer grid*/
.developers> div {

	
	background-color: GhostWhite ; 
	border: 1px solid black;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	height:300px;
	border-radius: 20px;
	
	width: 275px;
	height: 300px;
	margin-left: 15px;
	}

	
/* For the content of the second grid */

.text2 {

	width: 100%;
	height: 100px;
	font-size: 40px;
	text-align: center;
	margin-top: 25px;
}

/*For the name of the developers */


.text3{

	font-size: 30px;
	font-weight: 100;
	margin-top: 25px;
}

/*names */
b{

	padding-right: 50px;
	padding-left: 50px;
	font-size: 25px;
	margin-top: 50px;
}


/*developer class 1*/
	
 .isaac1{

 	
   margin-left: 18%;
  margin-top: 10px;


}


/*developers class 2*/
 .saral3{

 	margin-right: 10%;
 	margin-top: 10px;
 }

 /*developers class 3*/

 .rima2{

 	margin-right: 7%;
 	margin-left: 10%;
 	margin-top: 10px;
 }

/* for the developers photos */
.reviewP{

	margin-top: 30px;

}

/*For the footer */
.footer{

	margin-top: 40px;
	height: 50px;

}

/*For the second grid */
.grid2{

	margin-left: 5%;
}


/*To make the website responsive */

@media screen and (max-width:600px){

/*for the responsive section */
	 section{
	
width: 425px; 
display: flex;
flex-direction: column;
margin-left: 22px;
margin-right: 25px; 
height: 2250px;
}

/*for the responsive navigation */

	nav{


    width: 450px;
    display: flex;
    flex-direction: column;
    height: 22.400px;
    padding-left: 0px;
    padding-right: 25px;


}

/*Purpose of the website */

.text{
 margin-left: 60px;
 margin-top: 30px;

}
	

/*first grid  */

.grid{

	width: 100%;
	display: flex;
	flex-direction: column;
	grid-column-gap: 100px; 

	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	margin-left: 2px;
	height: 1000px;
}

/* second grid */
.developers{

	
	display: flex;
	flex-direction: column;
}

/* For the web development picture */
.landing{

	width: 350px;
	/*padding left: 1px; */
	padding-right: 5px;
 }

/* Inside the grid the class "fordiv" is made*/
/*Css for the class "fordiv"*/

.fordiv{
 width: 100%;
	margin-left: 5%;
	margin-top: 5px;
	font-size: 25px;
}

/* For the content of the second grid */

.text2{

	margin-top: 0px;
	text-align: center;
	
}
}