section{

	background-color: #F8F8FF;
	margin-top: 2%;
	margin-right: 8%;
	margin-left: 8%;
}


.grid {

	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 3%;
	padding: 70%;
	margin: 0 auto;
	border : 2px;
	padding-right: 2px;
	padding-top: 10px;
	padding-left: 2px;
	height: 600px;
	margin-right: 20px;
	margin-left: 20px;

}

.fordiv{

	width: 850px;
}

.picture{
   
  
	grid-template-columns: auto auto;

	  
   
    width: 850px;
    height: 425px;
	display: block;
	margin-left: 30px;

	
	overflow: hidden;
	background-image: url(picture1f.png);
	border: 2px solid black;
	border-radius: 20px;
	box-shadow: 10px 10px black;


}


.photos {

	height : 60px;
	width: 200px;
	
}

.text {
	height: 300px;
	width: 250px;
}